<div id="bt-graph" ref="shaderGraphRef">
    <div class="graph-bg ">
        <gojs-view></gojs-view>
        <inspector class="inspector"> </inspector>
    </div>
    <div ref="dirtyRef" class="ui-graph-forge" hidden>
        <ui-button tooltip="i18n:bt-graph.buttons.save" class="save tiny green" @click="onSave">
            <ui-icon value="check"></ui-icon>
        </ui-button>
        <ui-button tooltip="i18n:bt-graph.buttons.reset" class="reset tiny" @click="onReset">
            <ui-icon value="reset" color=""></ui-icon>
        </ui-button>
    </div>
    <div ref="foregroundRef" class="graph-windows" droppable="property" disallowed-event>
        <ui-drag-area class="drag-area" ref="dragAreaRef" @drop="onDragEnd($event)" disallowed-event></ui-drag-area>
        <component v-for="(config, index) in floatWindowConfigList" :key="index" ref="floatWindowRefs"
            :is="getFloatWindowByKey(config.key)" :config="config" @hide="onHideFloatWindow"></component>
    </div>
    <div class="right-tabs">
        <div class="tab" v-for="(config, index) in floatWindowConfigList" ref="tabRefs" :id="config.key"
            :key="config.key" :style="getStyle(config.tab)" v-show="config.tab.show"
            @click="togglePressTab(config.key, index)">
            <ui-label :value="config.tab.name"></ui-label>
        </div>
    </div>
    <mask-component></mask-component>
</div>